@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@media screen and (max-width:600px){
  ul.nav li.icon{
    display:block;
    position: fixed;
    right:0;
  }

  nav li{
    display:none;
  }


.navbar button{
  background:none;
  color:white;
  border:none;
  font-size:1em;
  padding:0%;
  display: flex;
  justify-content: center;
}
.nav-item.responsive li{
  display:block;
}}
.icon{
  display:none;
}
img {
  height:30%;
  width:45%;
  border-radius: 25%;
  margin: 10%;
}

div {
 position:absolute;
 display: flex;
 align-items:column;
 text-align: center;
}

img:hover {
  border-style: dotted
}

img:active {
  border-radius: 50%;

}

a:hover {
  color: red;
}

a:active {
  color: green;
}

h1 {
  color: gray;
  font-size: 225%;
  font-family: 'IM Fell English SC', serif;

}

body {
  background: url("../images/sunset.jpg");
  padding-bottom: 15em;
  width:100%;
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h2 {
  color: gray;
}

p {
  color: pink;
  font-family: cursive;
  font-size:150%;
}

ol {
  color: white;
  font-size: 170%;
  list-style-type: none;
}

ul {
  color:black;
  font-size: 170%;
  list-style-type: none;
}

.navbar {
  list-style-type: none;
  background: gray;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top:0%;
  margin-top:0%;
}

.nav-item a{
  color: pink;
  font-family: Lobster;
  font-size: 125%;
}

footer {
  background-color: gray;
  border-top: solid 3px pink;
  padding: 1.895%;
  display: flex;
  display: block;
  position: fixed;
  clear: both;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  bottom: 0%;
}

a{
  text-decoration: none;
  color: white;
  font-size: 145%;
}
.grid-cell{
  flex:1;
  margin-bottom: 3.3%;
  padding-right: 2%;
  display: block;
  margin:auto;
}
.grid{
  display:flex;
  padding-left: 5.6%;
  padding-top: 3%;
  padding-bottom: 3%;
  flex-wrap: nowrap;
}

